<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilsonundrix.healthcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard_Student">
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Dashboard_Student" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_Up" >
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Sign_Up" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard_Doctor" >
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Dashboard_Doctor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Appointment_Student" >
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Appointment_Student" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Appointment_Doctor" >
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Appointment_Doctor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Book_Appointment">
            <intent-filter>
                <action android:name="com.wilsonundrix.healthcare.Book_Appointment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>